
<div class="text-center home bg bg-primary">
    <h1 style="color: blueviolet;"> WELCOME TO TASK TRACKING SYSTEM!!!</h1>
     <div class="nav1">
    <a routerLink="/deleteuser" class="btn btn-primary">delete user</a>

    <br/><br/>

    <a routerLink="/details" class="btn btn-primary">list task</a>

    <br/><br/>

    <a routerLink="/updatenotes" class="btn btn-primary">update notes</a>

    <br/><br/>

    <a routerLink="/updatebookmarke" class="btn btn-primary">updatebookmark</a>

    <br/><br/>

    <a routerLink="/updatepriority" class="btn btn-primary">updatepriority</a>

    <br/><br/>

    <a routerLink="/userform" class="btn btn-primary">userform</a>

    <br/><br/>

    <a routerLink="/taskform" class="btn btn-primary">taskform</a>

    <br/><br/>
    <a routerLink="/userdetails" class="btn btn-primary">user details</a>

    <br/><br/>
    <a routerLink="/assigntask" class="btn btn-primary">assign Task</a>

    <br/><br/>

    </div>
    </div>