<p>update-ownerid works!</p>

<div class="CommentBox" >
    <div class="card">
        <div class="card-head">
                
                <h4 class="bg-secondary text-center text-white"> ASSIGN TASK OWNER </h4>
            
        </div>
        <div class="card-body">
            <div class="row text-center"></div>
            <div class="col-md-3 text-center my-auto"></div>

<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    Task ID :
    <input type="number" name="task_ID" formControlName="task_ID"/>
    <br/>
    <br/>

    OWNER ID:
   <input type="text"  name="owner_ID" formControlName="owner_ID"/>
    <br/>
    <br/>

    <button type = "button" class= "btn btn-success"(click)="onSubmit(form.value)">Update</button><br/><br/>  
</form>

<a routerLink="/ADMIN" class="btn btn-secondary">HOME</a>


